.animate-cropper {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Usamos transform para cambiar el tamaño y opacity para cambiar la transparencia */
}
.animate-cropper:hover {
    opacity: 0.7; /* Cambia la opacidad cuando el mouse está encima */
    transform: scale(1.1); /* Escalamos la imagen un 10% más grande en hover */
}
